html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
#map {
    /* configure the size of the map */
    width: 100%;
    height: 100%;
}

.header {
    background-color: #78a22f;
    padding: 2px;
    text-align: left;
    height: 50px;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.logout {
    float: right;
}
.logout div {
    float:left;
    display: inline;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    font-size: 20px;
}

.logout div p {
    color: white;
}

.logout div a {
    color :white;
    text-decoration: none;
}