html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    overflow: hidden;
}
#map {
    /* configure the size of the map */
    width: 100%;
    height: calc(100% - 50px);
    display:block;
    overflow:hidden;
}

.snow {
    border: 1px solid black;
    border-top: none;
    box-shadow: 2px 2px 6px black;
}


table {
    padding: 5px;
    margin: auto;
    border-spacing: 10px;

}

tr:nth-child(even) {
    background-color: #78a22f80 /* Kathmandu color with 50% opacity  */
}

.header {
    background-color: #78a22f;
    padding: 2px;
    text-align: left;
    height: 50px;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.logout {
    float: right;
}
.logout div {
    float:left;
    display: inline;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    font-size: 20px;
}

.logout div p {
    color: white;
}

.logout div a {
    color :white;
    text-decoration: none;
}

.menu-link {
    display: inline-block;
    height:100%;
    width: 100%;
}
